.square {
    width: 8rem;
    height: 8rem;
    background-color: rgb(90, 165, 212);
    color: rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
        background-color: rgb(67, 156, 211);
    }
}